# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
sudo: false
cache: packages

before_install:
- sudo apt-get update -qq
- sudo apt-get install -qq libv8-3.14-dev
